<%- include("../partials/header") %>
<div class="container" style="margin-top: 40px;">
    <div class="row ">
      <div class="col-4">
        <img src="<%= movie.img %>" class=" col-3rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title"><%= movie.name %></h1>
          <p class="card-text"><%= movie.description %></p>
          <p class="card-text" class="text-muted"><%= movie.rating %><span class="badge bg-warning" style="margin-left: 4px;">IMDBb</span></p>
          <p class="card-text" class="text-muted">Duration: <%= movie.duration %></span></p>
          <p class="card-text" class="text-muted">Year: <%= movie.year %></span></p>
          <p class="card-text" class="text-muted">Genre: <%= movie.genre %></span></p>
          <br>
          <h3 class="card-text">Price: $<%= movie.price %></h3>
          <div class="col-md-12" style="margin-top: 20px;">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Add to cart</button>
          
        </div>
      </div>
    </div>
  </div>
<%- include("../partials/footer") %>